# Biblioteka time i datetime

Daty, czas.

[Dokumentacja time](https://docs.python.org/3/library/time.html)

[Dokumentacja datetime](https://docs.python.org/3/library/datetime.html)


Level 1
1. 

Level 2:
1.

### Uwaga wstępna

Czas to spore zagadnienie. Tak jak wiele bibliotek pomaga w obliczeniach tak i jest w Pythonie wiele bibliotek które zajmują się czasem. Najczęściej używane rozwiązania to wspomniane wyżej `time` i `datetime`. Są jeszcze [`calendar`](https://docs.python.org/3/library/calendar.html) i [`locale`](https://docs.python.org/3/library/locale.html#module-locale). 

Biblioteki time i datetime używają klas obiektów odpowiedzialnych za pracę na czasie. Warto je rozróżniać z 2 powodów, po pierwsze to przydatne i ułatwia posługiwanie się danymi czasowymi a po drugie dwa z obiektów czasu używanych przez te biblioteki mają tę samą nazwę - time -  i łatwo się pomylić gdy używa się obu rodzajów obiektów na raz. Gdy nie jesteś pewien - a tak jest zwykle na początku - wybierz 1 rozwiązanie i trzymaj się go a drugiego używaj wtedy gdy to będzie potrzebne w niekolidujący sposób. 


Poznaj 6 głównych obiektów związanych z czasem:
1. import time - time.struct_time - w przeciwieństwie do poniżej przybliżonych dotyczy biblioteki **time**. 


2. from datetime import time - time() - dotyczy godzin, minut
3. from datetime import date - date() - dotyczy roku, miesiąca, dni
4. from datetime import datetime - **datetime()** - dotyczy pełnej daty
5. from datetime import timedelta - **timedelta()** - dotyczy różnicy między czasem A a czasem B
6. from datetime import timezone - timezone.utc(timedelta(hour=2))

Jednak z powodów praktycznych, zanim zapoznasz się lepiej z powyższymi obiektami (a powtórz ten materiał kilka razy) lepiej będzie jak zaczniesz naukę od

#### Główne problemy(zagadnienia) i rozwiązania:
1. Stwórz obiekt daty 
2. Zmień obiekt daty w tekst i spowrotem
3. Zmodyfikuj obiekt daty
4. Porównaj czas
5. Działania na czasie

#### `import time`:
1. Zatrzymaj działanie programu na N sekund - `time.sleep(N)` <--------------------  **!!!!!!!!**  
2. Sprawdź dokładnie aktualny czas - np. `time.time()`
3. Szybko stwórz datę jako tekst - `time.asctime()` lub obiekt ale nie datetime - `time.gmtime()`, `time.localtime()`

#### Use case'y:
1. Obliczanie czasu w którym wykonuje się program, porównywanie czasów dla róznych programów

## Level 1

In [10]:
from datetime import datetime, timedelta

from datetime import timezone

#### Daty: najważniejsze problemy i rozwiązania

dla uproszczenia do pracy z datą użyjemy 2 obiektów `timedelta` który zajmuje się różnicami czasu i `datetime` który zawiera pełną informację o czasie i składają się na niego 3 elementy którymi zajmują się 3 obiekty:
1. kalendarzowe - dzień, miesiąc, rok a którymi szczególnie zajmuje się obiekt `datetime.date`, 
2. jaki informacje o godzinie, minucie, sekundzie - bliskie obiektowi `datetime.time`,
3. oraz o strefie czasowej - omawiane przy okazji obiektu `datetime.timezone`.

#### 1. Czas teraz

jako obiekt daty `datetime`.

#### czasu lokalnego (UTC+2)

Liczonego wg. ustawień na Twoim komputerze lub serwerze czy miejscu gdzie jest odpalany skrypt.

In [202]:
datetime.today()

datetime.datetime(2022, 4, 16, 0, 13, 40, 848137)

#### czasu UTC

In [199]:
datetime.utcnow()

datetime.datetime(2022, 4, 15, 22, 8, 37, 118963)

#### czasu wg. tej strefy jaką podasz 

Lista stref. Biblitoeka miejsce-strefa

In [200]:
tz = datetime.now()
tz = None

print(datetime.now(tz=tz))

2022-04-16 00:08:38.441918

#### 2. Inny czas

Obiekt `datetime` możesz tworzyć przekazując mu informacje o dacie i godzinie. Te same informacje możesz też z niego wybrać albo je modyfikować. Zacznij od tworzenia:

In [203]:
datetime(year=2000, month=12, day=30)

datetime.datetime(2000, 12, 30, 0, 0)

In [143]:
datetime(year=2000, month=12, day=30, hour=23, minute=59, second=59)

datetime.datetime(2000, 12, 30, 23, 59, 59)

In [21]:
datetime(year=2000, month=12, day=30, hour=23, minute=59, second=59, tzinfo=timezone.utc)

datetime.datetime(2000, 12, 30, 23, 59, 59, tzinfo=datetime.timezone.utc)

#### Informacje z obiektu daty - np. gdy interesuje Cię jedynie dzień lub rok

In [24]:
data_1 = datetime(year=2000, month=12, day=30, hour=23, minute=59, second=59)
data_2 = datetime.today()

for data in [data_1, data_2]:
    print('Cała data:     ', data)
    print('Rok:           ', data.year)
    print('Miesiąc:       ', data.month)
    print('Dzień:         ', data.day)
    print('Godzina:       ', data.hour)
    print('Minuta:        ', data.minute)
    print('Sekunda:       ', data.second)
    print('Mikrosekunda:  ', data.microsecond) # 0.000001
    print('Strefa czasowa:', data.tzinfo)
    print()

Cała data:      2000-12-30 23:59:59
Rok:            2000
Miesiąc:        12
Dzień:          30
Godzina:        23
Minuta:         59
Sekunda:        59
Mikrosekunda:   0
Strefa czasowa: None

Cała data:      2022-04-15 18:38:32.895668
Rok:            2022
Miesiąc:        4
Dzień:          15
Godzina:        18
Minuta:         38
Sekunda:        32
Mikrosekunda:   895668
Strefa czasowa: None

#### Zmień czas 

istniejącego obiektu daty `datatime`

Jeżeli Twoja data jest zapisana jako tekst `str`, najpierw zmień jej treść na obiekt datetime.

#### Zmień strefę czasową, godzinę lub inne informacje daty

In [204]:
obiekt_daty.replace(year=2002)

datetime.datetime(2002, 4, 15, 21, 29, 50, 873019)

In [206]:
obiekt_daty.replace(hour=20)

datetime.datetime(2022, 4, 15, 20, 29, 50, 873019)

In [220]:
obiekt_daty.astimezone(tz=tz)

datetime.datetime(2022, 4, 16, 0, 49, 3, 93833, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200), 'CEST'))

#### Przy okazji strefy czasowej

In [228]:
strefy_czasowe = [
    timedelta(hours=4), # przesunięcie o N godzin
    timezone.utc,       # czas UTC
    None,               # brak wyboru - strefa lokalna dla Twojego komputera, serwera lub miejsca gdzie jest skrypt
]


tz=None

obiekt_daty.astimezone(tz=timezone.utc)

datetime.datetime(2022, 4, 15, 22, 49, 3, 93833, tzinfo=datetime.timezone.utc)

### Zamiana obiektu daty `datetime` w tekst

In [218]:
obiekt_daty = datetime.today()

obiekt_daty

datetime.datetime(2022, 4, 16, 0, 49, 3, 93833)

#### obiekt daty `datetime` -> `str` -  wg. formatu ISO

In [219]:
obiekt_daty.isoformat()

'2022-04-16T00:49:03.093833'

#### Dokładność przy zamianie daty w tekst wg. formatu ISO

Ty wybierasz jak dokładna ma być data (jednak wg. formatu ISO zapis musi zaczynać się od godziny).

In [134]:
timespecs = [
    'auto', # DEFAULT - Same as 'seconds' if microsecond is 0, same as 'microseconds' otherwise.
    'hours', # data wliczając godzinę.
    'minutes', # data wliczając minuty.
    'seconds', # data wliczając sekundy.
    'milliseconds', # data wliczając sekundy do "0.003" trzech miejsc po przecinku.
    'microseconds' # data wliczając sekundy do "0.000006" sześciu miejsc po przecinku.
]

data_obiekt = datetime.today()
timespec = 'auto'
sep='T'

print('Data: {}\n'.format(data_obiekt))
for timespec in timespecs:
    print('timespec: {:12}'.format(timespec), data_obiekt.isoformat(sep=sep, timespec=timespec))
    print()

Data: 2022-04-15 21:29:48.722379

timespec: auto         2022-04-15T21:29:48.722379

timespec: hours        2022-04-15T21

timespec: minutes      2022-04-15T21:29

timespec: seconds      2022-04-15T21:29:48

timespec: milliseconds 2022-04-15T21:29:48.722

timespec: microseconds 2022-04-15T21:29:48.722379

#### 3. Zamień obiekt daty datetime w tekst nadając mu konkretną formę.

In [221]:
data_format = '%Y-%m-%d'
data_obiekt = datetime.today()

data_obiekt.strftime(date_format)

'2022-04-16'

In [222]:
data_obiekt = datetime.today()
format_daty = '%Y-%m-%dT%M:%S'

data_obiekt.strftime(format_daty)

'2022-04-16T09:43'

In [223]:
popularne_formaty = [
    
    # Najczęstsze formaty:
    '%Y-%m-%d', # +%Z
    '%Y-%m-%dT%M:%S', # +%Z
    
    # Jeżeli nie chcesz tego rzokminiać, wybierz ten:
    # ...
    
    # ...
    '%m/%d/%Y',
    '%Y/%m/%d',
    '%d/%m/%Y',
    
    # Ciekawe formaty:
    "%m-%d-%Y %H:%M:%S", # +%Z
    '%Y-%m-%d %H:%M:%S',
    '%Y-%m-%d::%H-%M',
    '%Y-%m-%dT%H:%M:%SZ',
    '%Y-%m-%d %H:%M:%S',
    "%A, %B %d, %Y at %H:%M %p %Z",
    "%b %d %Y %H:%M:%S",
    
]

data_obiekt=datetime.today()
timespec='auto'
sep='T'

print('Data: {}\n'.format(data_obiekt))
for format_daty in popularne_formaty:
    print('format daty: {:30}'.format(format_daty), data_obiekt.strftime(format_daty))
    print()

Data: 2022-04-16 01:10:55.533716

format daty: %Y-%m-%d                       2022-04-16

format daty: %Y-%m-%dT%M:%S                 2022-04-16T10:55

format daty: %m/%d/%Y                       04/16/2022

format daty: %Y/%m/%d                       2022/04/16

format daty: %d/%m/%Y                       16/04/2022

format daty: %m-%d-%Y %H:%M:%S              04-16-2022 01:10:55

format daty: %Y-%m-%d %H:%M:%S              2022-04-16 01:10:55

format daty: %Y-%m-%d::%H-%M                2022-04-16::01-10

format daty: %Y-%m-%dT%H:%M:%SZ             2022-04-16T01:10:55Z

format daty: %Y-%m-%d %H:%M:%S              2022-04-16 01:10:55

format daty: %A, %B %d, %Y at %H:%M %p %Z   Saturday, April 16, 2022 at 01:10 AM

format daty: %b %d %Y %H:%M:%S              Apr 16 2022 01:10:55

#### 4. Zamień tekst z datą w obiekt `datetime`.


Format: YYYY-MM-DD[*HH[:MM[:SS[.fff[fff]]]][+HH:MM[:SS[.ffffff]]]]

In [224]:
from datetime import datetime

datetime.fromisoformat('2011-11-04')

datetime.datetime(2011, 11, 4, 0, 0)

In [225]:
daty_w_tekscie = [
    '2011-11-04',
    '2011-11-04T00:05:23',
    '2011-11-04 00:05:23.283',
    '2011-11-04 00:05:23.283+00:00',
    '2011-11-04T00:05:23+04:00',
]

for d in daty_w_tekscie:
    print('Data tekst:    ', d)
    print('Data isoformat:', datetime.fromisoformat(d))
    print('')

Data tekst:     2011-11-04
Data isoformat: 2011-11-04 00:00:00

Data tekst:     2011-11-04T00:05:23
Data isoformat: 2011-11-04 00:05:23

Data tekst:     2011-11-04 00:05:23.283
Data isoformat: 2011-11-04 00:05:23.283000

Data tekst:     2011-11-04 00:05:23.283+00:00
Data isoformat: 2011-11-04 00:05:23.283000+00:00

Data tekst:     2011-11-04T00:05:23+04:00
Data isoformat: 2011-11-04 00:05:23+04:00

In [171]:
date_string = '2011-11-04'
date_format = '%Y-%m-%d'

datetime.strptime(date_string, date_format)

datetime.datetime(2011, 11, 4, 0, 0)

In [172]:
datetime.strptime('2011-11-04', '%Y-%m-%d')

datetime.datetime(2011, 11, 4, 0, 0)

In [173]:
datetime.strptime('2011-11-04', '%Y-%m-%d')

datetime.datetime(2011, 11, 4, 0, 0)

#### 4. Porównuj daty

In [149]:
# Czy data A jest taka jak data B? #

In [150]:
obiekt_daty_1 = datetime(year=2000, month=12, day=30)
obiekt_daty_2 = datetime(year=2000, month=12, day=30)

obiekt_daty_3 = datetime(year=1000, month=10, day=10)

In [151]:
if obiekt_daty_1 == obiekt_daty_2:
    print(True)

True

In [152]:
if obiekt_daty_1 == obiekt_daty_3:
    print(True)
else:
    print(False)

False

In [ ]:
# Czy data A czy data B jest nowsza i o ile?

In [ ]:
# Jaka jest różnica między datą A a datą B?

In [164]:
timedelta(hours=2)

datetime.timedelta(seconds=7200)

#### 5. Działania na czasie

In [ ]:
# Dodaj lub odejmij czas

In [ ]:
timedelta(hours=2)

In [ ]:
from datetime import timedelta
d = timedelta(microseconds=-1)
date2 = date1 + timedelta
date2 = date1 - timedelta
t1 = t2 + t3
t1 = t2 * i or t1 = i * t2
t1 = t2 - t3

# X

In [96]:
import time

#### 1. Zatrzymaj działanie programu na N sekund - `time.sleep(N)`

Odpal poniższą komórkę. Po każdej iteracji program wstrzyma się na 2 sekundy. Ta metoda przydaje się np. gdy łączymy się z innymi serwerami, albo chcemy aby ktoś odczekał zanim ponownie wykona akcję (np. logowania czy wysłania wiadomości).

In [3]:
for i in range(8):
    print(i)
    time.sleep(2)

0
1
2
3
4
5
6
7

#### 2. Sprawdź dokładnie aktualny czas - np. `time.time()`

Czas jako liczba sekund - `time.time() ` lub nanosekund - `time.time_ns() `

In [74]:
time.time() # czas teraz w sekundach

1649952430.0242095

In [77]:
time.time_ns() # czas teraz, nanosekundy

1649952483517560512

#### 3. Szybko stwórz datę jako tekst - `time.asctime()` lub obiekt ale time a nie datetime - `time.gmtime()`, `time.localtime()`

#### A. Jako tekst - `time.asctime()`

Data i czas przyjmują wartość typu tekstowego o formacie: `Sun Jun 20 23:21:05 1993`.

In [4]:
t1 = time.asctime()
t1 # string

'Fri Apr 15 12:33:09 2022'

#### B. Jako obiekt z czasem lokalnym - `time.localtime()`

Godzina czasu Polskiego lub strefy czasowej Twojego serwera/komputera).

In [5]:
t2 = time.localtime()
t2

time.struct_time(tm_year=2022, tm_mon=4, tm_mday=15, tm_hour=12, tm_min=33, tm_sec=9, tm_wday=4, tm_yday=105, tm_isdst=1)

In [ ]:
#

In [89]:
t2.tm_year

2022

#### C. Jako obiekt z czasem globalnym - `time.gmtime()`

Godzina jest o 2h wcześniejsza niż w Polsce.

#### Typ obiektu utworzonego w B i C jest taki sam.

In [138]:
type(t2)

time.struct_time

In [139]:
type(t2) == type(t3)

True

z obiektu time możesz wyciągnąć i wyświetlić między innymi:

In [127]:
for t in [t2, t3]:
    print(t.tm_year, t.tm_mon, t.tm_mday, t.tm_hour, t.tm_min, )

2022 4 14 18 22
2022 4 14 16 23

jeżeli chcesz poznać więcej metod, zobacz:

In [124]:
#t3.__dir__()

In [ ]:
data_obiekt # PL 1
obiekt_daty # PL 1
obiekt_data # PL 2

date_object # EN

In [ ]:
data_format # PL 1
format_daty # PL 2
format_data # PL 3

date_format # EN

### pytz

In [ ]:
import pytz

In [ ]:
33333333333333333333333

In [ ]:
#### Zamiana liczbowej reprezentacji czasu w obiekt datetime

from datetime import datetime

tz = None
liczbowa_reprezentacja_czasu = 13342444434
datetime.fromtimestamp(liczbowa_reprezentacja_czasu, tz=tz)

from datetime import datetime

liczbowa_reprezentacja_czasu = 13342444434
datetime.utcfromtimestamp(liczbowa_reprezentacja_czasu)

In [163]:
from datetime import time, timezone, timedelta
d = date(2005, 7, 14)
t = time(12, 30)
datetime.combine(d, t)

#### 5. Zamień obiekt czasu w stringa z datą sformatowaną tak jak chcesz.

%a - Locale’s abbreviated weekday name.
%A - Locale’s full weekday name.
%b - Locale’s abbreviated month name.
%B - Locale’s full month name.
%c - Locale’s appropriate date and time representation.
%d - Day of the month as a decimal number.
%H - Hour (24-hour clock) as a decimal number.
%I - Hour (12-hour clock) as a decimal number.
%j - Day of the year as a decimal number.
%m - Month as a decimal number.
%M - Minute as a decimal number.
%p - Locale’s equivalent of either AM or PM.
%S - Second as a decimal number.
%U - Week number of the year (Sunday as the first day of the week) as a decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. (3)
%w - Weekday as a decimal number
%W - Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.
%x - Locale’s appropriate date representation.
%X - Locale’s appropriate time representation.
%y - Year without century as a decimal number.
%Y - Year with century as a decimal number.
%Z - Time zone name (no characters if no time zone exists). Deprecated.
%% - A literal '%' character

#### 3. Zamień string z datą w obiekt `time` wedle formatu.

In [188]:
data1 = "30 Nov 01"
format_daty = "%d %b %y"

time.strptime(data1, format_daty)

time.struct_time(tm_year=2001, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=334, tm_isdst=-1)

#### 4. Zamień obiekt czasu w stringa z datą sformatowaną tak jak chcesz.

In [171]:
format_czasu = "%a, %d %b %Y %H:%M:%S +0000"
obiekt_czasu1 = time.gmtime()
time.strftime(format_czasu, obiekt_czasu1)

'Thu, 14 Apr 2022 16:54:54 +0000'

In [172]:
format_czasu = "%a, %d %b %Y %H:%M:%S +0000"
obiekt_czasu2 = time.localtime()
time.strftime(format_czasu, obiekt_czasu2)

'Thu, 14 Apr 2022 18:54:54 +0000'