# Czas i data

## Biblioteki czasu - datetime i przyjaciele

Daty, czas.

**Bibliotek** zajmujących się datami i czasem jest sporo. Wybierz `datetime` jest tu przytoczony szerzej, pozostałe gdy mają największe przełożenie. 

1. [Dokumentacja time](https://docs.python.org/3/library/time.html) (Level 1)
2. [Dokumentacja datetime](https://docs.python.org/3/library/datetime.html) (Level 1)
3. [Dokumentacja dateutil](https://dateutil.readthedocs.io/en/stable/changelog.html) (Level 1)
4. [Dokumentacja pytz](https://pythonhosted.org/pytz/) (Level 2)
5. [calendar](https://docs.python.org/3/library/calendar.html) 
6. [locale](https://docs.python.org/3/library/locale.html#module-locale). 

To wybór tego co potrzebujesz na już aby działać i rozwijać się w szybkim logicznym rytmie. W przyszłości dowiesz się więcej o tym jak je poznawać i kiedy. Narazie, jeżeli zaczynasz skup się na materiale podstawowym.

**Level 1:**

Główne problemy (i zagadnienia) i rozwiązania związane z datą i czasem:

1. Czas - `time.sleep(10)` (zatrzymaj program na 10 sekund)
2. Czas teraz - `obiekt_daty1 = datetime.now(tz=None)`
3. Inny czas - `obiekt_daty2 = datetime(2022, 10, 1, 10, 1)`
4. Wybierz informacje z obiektu daty - np. dzień lub rok - `rok, miesiac = obiekt_daty.year, obiekt_daty.month`
5. Zmień czas - `obiekt_daty = obiekt_daty.replace(hour=10)`
6. Zamień obiekt daty na tekst `data_tekst = data_obiekt.strftime('%Y-%m-%d' )`
7. Zamień tekst na obiekt daty - `obiekt_daty = parser.parse("20-02-1991")`
8. Roznica czasu - `roznica_czasu = obiekt_daty1 - obiekt_daty2` - to `timedelta`
9. Dzialania na czasie - `obiekt_daty = obiekt_daty - timedelta(hours=2)`
10. Porównuj daty - `if obiekt_daty1 == obiekt_daty2: pass`
11. Ktora data jest nowsza? - `if obiekt_daty1 > obiekt_daty2: print(True), else: print(False)`


**Level 2:**

1.

### Uwaga wstępna

Czas to spore zagadnienie. Tak jak wiele bibliotek pomaga w obliczeniach tak i jest w Pythonie wiele bibliotek które zajmują się czasem. 


Jednak z powodów praktycznych, zanim zapoznasz się lepiej z powyższymi obiektami (a powtórz ten materiał kilka razy) lepiej będzie jak zaczniesz naukę od

1. Stwórz obiekt daty 
2. Zmień obiekt daty w tekst i spowrotem
3. Zmodyfikuj obiekt daty
4. Porównaj czas
5. Działania na czasie

#### `import time`:
1. Zatrzymaj działanie programu na N sekund - `time.sleep(N)` <--------------------  **!!!!!!!!**  

#### potem
2. Sprawdź dokładnie aktualny czas - np. `time.time()`
3. Szybko stwórz datę jako tekst - `time.asctime()` lub obiekt ale nie datetime - `time.gmtime()`, `time.localtime()`

#### Use case'y:
1. Obliczanie czasu w którym wykonuje się program, porównywanie czasów dla róznych programów

## Level 1

#### W skrócie

In [68]:
# 1. Czas
import time
time.sleep(10) # Zatrzymaj program na 10 sekund

# 2. Czas teraz
from datetime import datetime
obiekt_daty1 = datetime.now(tz=None) # Czas teraz

# 3. Inny czas
obiekt_daty2 = datetime(2022, 10, 1, 10, 1) # Inny czas

# 4. Wybierz informacje z obiektu daty - np. dzień lub rok
rok, miesiac = obiekt_daty.year, obiekt_daty.month

# 5. Zmień czas 
obiekt_daty = obiekt_daty.replace(hour=10)

# 6. Zamień obiekt daty na tekst
data_obiekt = datetime.today()
data_tekst = data_obiekt.strftime('%Y-%m-%d' )

# 7. Zamień tekst na obiekt daty
from dateutil import parser
obiekt_daty = parser.parse("20-02-1991")

# 8. Roznica czasu
roznica_czasu = obiekt_daty1 - obiekt_daty2
roznica_czasu = timedelta(hours=2)

# 9. Dzialania na czasie
obiekt_daty = obiekt_daty - roznica_czasu
obiekt_daty = obiekt_daty + roznica_czasu

# 10. Porównuj daty
if obiekt_daty1 == obiekt_daty2:
    pass

# 11. Ktora data jest nowsza?
if obiekt_daty1 > obiekt_daty2:
    print(1)
else:
    print(2)

2

In [69]:
from datetime import datetime
data = datetime.today()
for i in range(24):
    hour = i
    for j in range(6):
        minute = j*10
        data = data.replace(hour=hour, minute=minute)
        print(i, data)
    print()

0 2022-04-16 00:00:06.900738
0 2022-04-16 00:10:06.900738
0 2022-04-16 00:20:06.900738
0 2022-04-16 00:30:06.900738
0 2022-04-16 00:40:06.900738
0 2022-04-16 00:50:06.900738

1 2022-04-16 01:00:06.900738
1 2022-04-16 01:10:06.900738
1 2022-04-16 01:20:06.900738
1 2022-04-16 01:30:06.900738
1 2022-04-16 01:40:06.900738
1 2022-04-16 01:50:06.900738

2 2022-04-16 02:00:06.900738
2 2022-04-16 02:10:06.900738
2 2022-04-16 02:20:06.900738
2 2022-04-16 02:30:06.900738
2 2022-04-16 02:40:06.900738
2 2022-04-16 02:50:06.900738

3 2022-04-16 03:00:06.900738
3 2022-04-16 03:10:06.900738
3 2022-04-16 03:20:06.900738
3 2022-04-16 03:30:06.900738
3 2022-04-16 03:40:06.900738
3 2022-04-16 03:50:06.900738

4 2022-04-16 04:00:06.900738
4 2022-04-16 04:10:06.900738
4 2022-04-16 04:20:06.900738
4 2022-04-16 04:30:06.900738
4 2022-04-16 04:40:06.900738
4 2022-04-16 04:50:06.900738

5 2022-04-16 05:00:06.900738
5 2022-04-16 05:10:06.900738
5 2022-04-16 05:20:06.900738
5 2022-04-16 05:30:06.900738
5 2022-04-16 05:40:06.900738
5 2022-04-16 05:50:06.900738

6 2022-04-16 06:00:06.900738
6 2022-04-16 06:10:06.900738
6 2022-04-16 06:20:06.900738
6 2022-04-16 06:30:06.900738
6 2022-04-16 06:40:06.900738
6 2022-04-16 06:50:06.900738

7 2022-04-16 07:00:06.900738
7 2022-04-16 07:10:06.900738
7 2022-04-16 07:20:06.900738
7 2022-04-16 07:30:06.900738
7 2022-04-16 07:40:06.900738
7 2022-04-16 07:50:06.900738

8 2022-04-16 08:00:06.900738
8 2022-04-16 08:10:06.900738
8 2022-04-16 08:20:06.900738
8 2022-04-16 08:30:06.900738
8 2022-04-16 08:40:06.900738
8 2022-04-16 08:50:06.900738

9 2022-04-16 09:00:06.900738
9 2022-04-16 09:10:06.900738
9 2022-04-16 09:20:06.900738
9 2022-04-16 09:30:06.900738
9 2022-04-16 09:40:06.900738
9 2022-04-16 09:50:06.900738

10 2022-04-16 10:00:06.900738
10 2022-04-16 10:10:06.900738
10 2022-04-16 10:20:06.900738
10 2022-04-16 10:30:06.900738
10 2022-04-16 10:40:06.900738
10 2022-04-16 10:50:06.900738

11 2022-04-16 11:00:06.900738
11 2022-04-16 11:10:06.900738
11 2022-04-16 11:20:06.900738
11 2022-04-16 11:30:06.900738
11 2022-04-16 11:40:06.900738
11 2022-04-16 11:50:06.900738

12 2022-04-16 12:00:06.900738
12 2022-04-16 12:10:06.900738
12 2022-04-16 12:20:06.900738
12 2022-04-16 12:30:06.900738
12 2022-04-16 12:40:06.900738
12 2022-04-16 12:50:06.900738

13 2022-04-16 13:00:06.900738
13 2022-04-16 13:10:06.900738
13 2022-04-16 13:20:06.900738
13 2022-04-16 13:30:06.900738
13 2022-04-16 13:40:06.900738
13 2022-04-16 13:50:06.900738

14 2022-04-16 14:00:06.900738
14 2022-04-16 14:10:06.900738
14 2022-04-16 14:20:06.900738
14 2022-04-16 14:30:06.900738
14 2022-04-16 14:40:06.900738
14 2022-04-16 14:50:06.900738

15 2022-04-16 15:00:06.900738
15 2022-04-16 15:10:06.900738
15 2022-04-16 15:20:06.900738
15 2022-04-16 15:30:06.900738
15 2022-04-16 15:40:06.900738
15 2022-04-16 15:50:06.900738

16 2022-04-16 16:00:06.900738
16 2022-04-16 16:10:06.900738
16 2022-04-16 16:20:06.900738
16 2022-04-16 16:30:06.900738
16 2022-04-16 16:40:06.900738
16 2022-04-16 16:50:06.900738

17 2022-04-16 17:00:06.900738
17 2022-04-16 17:10:06.900738
17 2022-04-16 17:20:06.900738
17 2022-04-16 17:30:06.900738
17 2022-04-16 17:40:06.900738
17 2022-04-16 17:50:06.900738

18 2022-04-16 18:00:06.900738
18 2022-04-16 18:10:06.900738
18 2022-04-16 18:20:06.900738
18 2022-04-16 18:30:06.900738
18 2022-04-16 18:40:06.900738
18 2022-04-16 18:50:06.900738

19 2022-04-16 19:00:06.900738
19 2022-04-16 19:10:06.900738
19 2022-04-16 19:20:06.900738
19 2022-04-16 19:30:06.900738
19 2022-04-16 19:40:06.900738
19 2022-04-16 19:50:06.900738

20 2022-04-16 20:00:06.900738
20 2022-04-16 20:10:06.900738
20 2022-04-16 20:20:06.900738
20 2022-04-16 20:30:06.900738
20 2022-04-16 20:40:06.900738
20 2022-04-16 20:50:06.900738

21 2022-04-16 21:00:06.900738
21 2022-04-16 21:10:06.900738
21 2022-04-16 21:20:06.900738
21 2022-04-16 21:30:06.900738
21 2022-04-16 21:40:06.900738
21 2022-04-16 21:50:06.900738

22 2022-04-16 22:00:06.900738
22 2022-04-16 22:10:06.900738
22 2022-04-16 22:20:06.900738
22 2022-04-16 22:30:06.900738
22 2022-04-16 22:40:06.900738
22 2022-04-16 22:50:06.900738

23 2022-04-16 23:00:06.900738
23 2022-04-16 23:10:06.900738
23 2022-04-16 23:20:06.900738
23 2022-04-16 23:30:06.900738
23 2022-04-16 23:40:06.900738
23 2022-04-16 23:50:06.900738

### 1. Czas

####  Zatrzymaj działanie programu na N sekund - `time.sleep(N)`

Odpal poniższą komórkę. Po każdej iteracji program wstrzyma się na 2 sekundy. Ta metoda przydaje się np. gdy łączymy się z innymi serwerami, albo chcemy aby ktoś odczekał zanim ponownie wykona akcję (np. logowania czy wysłania wiadomości).

In [324]:
import time

for i in range(8):
    print(i)
    time.sleep(2)

0
1
2
3
4
5
6
7

### 2. Czas teraz

jako obiekt daty `datetime`.

In [381]:
from datetime import datetime # obiekt czasu

teraz

In [377]:
czas_teraz = datetime.now()
czas_teraz

datetime.datetime(2022, 4, 16, 15, 17, 55, 858209)

#### obiekt `datetime`

O tym obiekcie (oraz jego reprezentacji tekstowej) będzie reszta tego poziomu.

In [380]:
type(czas_teraz)

datetime.datetime

#### czasu lokalnego (UTC+2)

Liczonego wg. ustawień na Twoim komputerze lub serwerze czy miejscu gdzie jest odpalany skrypt.

In [202]:
datetime.today()

datetime.datetime(2022, 4, 16, 0, 13, 40, 848137)

#### czasu UTC

In [199]:
datetime.utcnow()

datetime.datetime(2022, 4, 15, 22, 8, 37, 118963)

#### czasu wg. tej strefy jaką podasz 

Lista stref. Biblitoeka miejsce-strefa

In [375]:
tz = timezone.utc
tz = None

print(datetime.now(tz=tz))

2022-04-16 15:17:38.128660

### 3. Inny czas

Obiekt `datetime` możesz tworzyć przekazując mu informacje o dacie i godzinie. Te same informacje możesz też z niego wybrać albo je modyfikować. Zacznij od tworzenia:

In [203]:
datetime(year=2000, month=12, day=30)

datetime.datetime(2000, 12, 30, 0, 0)

In [143]:
datetime(year=2000, month=12, day=30, hour=23, minute=59, second=59)

datetime.datetime(2000, 12, 30, 23, 59, 59)

In [21]:
datetime(year=2000, month=12, day=30, hour=23, minute=59, second=59, tzinfo=timezone.utc)

datetime.datetime(2000, 12, 30, 23, 59, 59, tzinfo=datetime.timezone.utc)

### 4. Wybierz informacje z obiektu daty - np. dzień lub rok

In [360]:
data = datetime.today()

data.year

2022

In [361]:
data.hour

15

In [24]:
data_1 = datetime(year=2000, month=12, day=30, hour=23, minute=59, second=59)
data_2 = datetime.today()

for data in [data_1, data_2]:
    print('Cała data:     ', data)
    print('Rok:           ', data.year)
    print('Miesiąc:       ', data.month)
    print('Dzień:         ', data.day)
    print('Godzina:       ', data.hour)
    print('Minuta:        ', data.minute)
    print('Sekunda:       ', data.second)
    print('Mikrosekunda:  ', data.microsecond) # 0.000001
    print('Strefa czasowa:', data.tzinfo)
    print()

Cała data:      2000-12-30 23:59:59
Rok:            2000
Miesiąc:        12
Dzień:          30
Godzina:        23
Minuta:         59
Sekunda:        59
Mikrosekunda:   0
Strefa czasowa: None

Cała data:      2022-04-15 18:38:32.895668
Rok:            2022
Miesiąc:        4
Dzień:          15
Godzina:        18
Minuta:         38
Sekunda:        32
Mikrosekunda:   895668
Strefa czasowa: None

### 5. Zmień czas 

istniejącego obiektu daty `datatime`

Jeżeli Twoja data jest zapisana jako tekst `str`, najpierw zmień jej treść na obiekt datetime.

#### Zmień strefę czasową, godzinę lub inne informacje daty

In [204]:
obiekt_daty.replace(year=2002)

datetime.datetime(2002, 4, 15, 21, 29, 50, 873019)

In [206]:
obiekt_daty.replace(hour=20)

datetime.datetime(2022, 4, 15, 20, 29, 50, 873019)

In [233]:
obiekt_daty.astimezone(tz=timezone.utc)

datetime.datetime(2022, 4, 15, 22, 49, 3, 93833, tzinfo=datetime.timezone.utc)

###6. Sprawne przekształcanie tekstu w obiekt daty i spowrotem


    A. datetime -> str
    B. str -> `datetime

## A. `datetime` -> `str`

#### Format ISO

In [333]:
from datetime import datetime 

data_obiekt = datetime.today()

data_obiekt.isoformat()

'2022-04-16T13:36:19.273134'

#### Format taki jaki chcesz wybrać

Datę można rozpisać na wiele sposobów. Używając `strftime` Ty decydujesz. W kolejnych w materiałach o dacie znajdziesz więcej informacji o zapisie daty.

In [338]:
data_obiekt = datetime.today()
data_format = '%Y-%m-%d' 

data_obiekt.strftime(date_format)

'2022-04-16'

## B. `str` -> `datetime`

#### Na szybko

In [355]:
from dateutil import parser

data_str = "20-02-1991"

parser.parse(data_str)

datetime.datetime(1991, 2, 20, 0, 0)

### 6. Porównuj daty

In [372]:
obiekt_daty_1 = datetime(year=2000, month=12, day=30)
obiekt_daty_2 = datetime(year=2000, month=12, day=30)

obiekt_daty_3 = datetime(year=1000, month=10, day=10)

#### Czy data A i data B są takie same?

In [286]:
if obiekt_daty_1 == obiekt_daty_2:
    print(True)

True

In [287]:
if obiekt_daty_1 == obiekt_daty_3:
    print(True)
else:
    print(False)

False

#### Która data jest nowsza?

In [370]:
obiekt_daty_1 = datetime(year=2000, month=12, day=30)
obiekt_daty_2 = datetime(year=2000, month=11, day=30)

if obiekt_daty_1 > obiekt_daty_2:
    print('1 data jest nowsza.')
else:
    print('2 data jest nowsza.')

1 data jest nowsza.

#### Jaka jest różnica między datą A a datą B?

In [371]:
roznica_czasu = obiekt_daty_1 - obiekt_daty_2
roznica_czasu

datetime.timedelta(days=30)

### 7. Działania na czasie

Obiekt `timedelta` reprezentuje różnicę czasową. Np różnica czasu 2h to:

In [292]:
from datetime import timedelta

roznica_czasu = timedelta(hours=2)

In [297]:
roznica_czasu

datetime.timedelta(seconds=7200)

In [298]:
type(roznica_czasu)

datetime.timedelta

#### Dodaj lub odejmij czas

In [363]:
obiekt_daty = datetime(year=2000, month=11, day=30)
roznica_czasu = timedelta(hours=2)

nowa_data = obiekt_daty + roznica_czasu
nowa_data

datetime.datetime(2000, 11, 30, 2, 0)

In [364]:
obiekt_daty = datetime(year=2000, month=11, day=30)
roznica_czasu = timedelta(hours=2)

print('Przed:          ', obiekt_daty)

obiekt_daty += roznica_czasu
print('Po dodawaniu:   ', obiekt_daty)

obiekt_daty +- roznica_czasu
print('Po odejmowaniu: ', obiekt_daty)

Przed:           2000-11-30 00:00:00
Po dodawaniu:    2000-11-30 02:00:00
Po odejmowaniu:  2000-11-30 02:00:00

#### Podsumowanie

In [ ]:
# 1. Czas
import time
time.sleep(10) # Zatrzymaj program na 10 sekund

# 2. Czas teraz
from datetime import datetime
obiekt_daty1 = datetime.now(tz=None) # Czas teraz

# 3. Inny czas
obiekt_daty2 = datetime(2022, 10, 1, 10, 1) # Inny czas

# 4. Wybierz informacje z obiektu daty - np. dzień lub rok
rok, miesiac = obiekt_daty.year, obiekt_daty.month

# 5. Zmień czas 
obiekt_daty = obiekt_daty.replace(hour=10)

# 6. Zamień obiekt daty na tekst
data_obiekt = datetime.today()
data_tekst = data_obiekt.strftime('%Y-%m-%d' )

# 7. Zamień tekst na obiekt daty
from dateutil import parser
obiekt_daty = parser.parse("20-02-1991")

# 8. Roznica czasu
roznica_czasu = obiekt_daty1 - obiekt_daty2
roznica_czasu = timedelta(hours=2)

# 9. Dzialania na czasie
obiekt_daty = obiekt_daty - roznica_czasu
obiekt_daty = obiekt_daty + roznica_czasu

# 10. Porównuj daty
if obiekt_daty1 == obiekt_daty2:
    pass

# 11. Ktora data jest nowsza?
if obiekt_daty1 > obiekt_daty2:
    print(1)
else:
    print(2)

### X. Jak zapisać datę? 

Wydaje się, że daty wskazujące na ten sam dzień są takie same lub do siebie podobne - przecież każda ma dzień rok czy miesiąc.

#### wg. formatu ISO

In [236]:
obiekt_daty = datetime.today()
obiekt_daty

datetime.datetime(2022, 4, 16, 2, 4, 26, 354240)

In [237]:
obiekt_daty.isoformat()

'2022-04-16T02:04:26.354240'

#### Dokładność przy zamianie daty w tekst wg. formatu ISO

Ty wybierasz jak dokładna ma być data (jednak wg. formatu ISO zapis musi zaczynać się od godziny).

In [134]:
timespecs = [
    'auto', # DEFAULT - Same as 'seconds' if microsecond is 0, same as 'microseconds' otherwise.
    'hours', # data wliczając godzinę.
    'minutes', # data wliczając minuty.
    'seconds', # data wliczając sekundy.
    'milliseconds', # data wliczając sekundy do "0.003" trzech miejsc po przecinku.
    'microseconds', # data wliczając sekundy do "0.000006" sześciu miejsc po przecinku.
]

data_obiekt = datetime.today()
timespec = 'auto'
sep='T'

print('Data: {}\n'.format(data_obiekt))
for timespec in timespecs:
    print('timespec: {:12}'.format(timespec), data_obiekt.isoformat(sep=sep, timespec=timespec))
    print()

Data: 2022-04-15 21:29:48.722379

timespec: auto         2022-04-15T21:29:48.722379

timespec: hours        2022-04-15T21

timespec: minutes      2022-04-15T21:29

timespec: seconds      2022-04-15T21:29:48

timespec: milliseconds 2022-04-15T21:29:48.722

timespec: microseconds 2022-04-15T21:29:48.722379

## Level 2

1. Strefa czasowa
2. Zamiana czasu w tekst - pełna elastyczność, najważniejsze i najciekawsze formaty
3. Sprawdź czy obiekt `datetime`

### 1. Strefa czasowa

W skrócie - wybierz nazwę strefy której szukasz i użyj jej jako argument obiektu `datetime.tz`.

In [50]:
from datetime import datetime 
import pytz

nazwa_strefy = 'Poland'
obiekt_strefy = pytz.timezone( nazwa_strefy)

data = datetime.today()
data_dla_strefy = datetime.now(tz=obiekt_strefy)

print(data_dla_strefy)
print(data)

2022-04-16 16:50:28.090023+02:00
2022-04-16 16:50:28.090006

#### Krok 1 - Znajdź strefę której szukasz (lub zbliżoną)

In [58]:
pytz.all_timezones[-10:] # wyrzuć liczbę z nawiasów

['US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

#### Krok 2 - Użyj nazwy strefy czasowej jako argumentu `pytz.timezone()`

In [52]:
pytz.timezone('Europe/Warsaw')

#### Krok 3 - przypisz utworzoną strefę obiektowi `datetime`

In [55]:
datetime.now(tz=pytz.timezone('Europe/Warsaw'))

datetime.datetime(2022, 4, 16, 16, 52, 50, 522130, tzinfo=<DstTzInfo 'Europe/Warsaw' CEST+2:00:00 DST>)

#### Sprawdź strefy czasowe przez podanie położenia

Znajdź wśród podanych miejsc to, którego szukasz lub które znajduje się w jego pobliży. Frazę podaj jako argument `pytz.timezone(strefa)`.

In [59]:
strefa = 'UTC'
strefa = 'US/Indiana-Starke'
strefa = 'Zulu'

pytz.timezone(strefa)

#### x

#### Najczęściej używane strefy czasowe:

In [49]:
from datetime import timezone, timedelta

strefy_czasowe = [
    
    # PL
    pytz.timezone('Poland')
    
    # Miejsca:
    
    
    # Standardowe:
    timezone.utc,       # czas UTC
    
    # Specjalne:
    timedelta(hours=4), # przesunięcie o N godzin
    None,               # brak wyboru - strefa lokalna dla Twojego komputera, serwera lub miejsca gdzie jest skrypt
]


tz=None

obiekt_daty = datetime.now()
obiekt_daty.astimezone(tz=timezone.utc)

datetime.datetime(2022, 4, 16, 14, 46, 41, 567305, tzinfo=datetime.timezone.utc)

[Ciekawe strefy czasowe]('https://www.wykop.pl/link/2305892/najdziwniejsze-strefy-czasowe/strona/2')

### 2. Nadaj dacie formę jaką chcesz

In [337]:
data_format = '%Y-%m-%d'

data_obiekt = datetime.today()

data_obiekt.strftime(date_format)

'2022-04-16'

In [230]:
data_obiekt = datetime.today()
format_daty = '%Y-%m-%dT%M:%S'

data_obiekt.strftime(format_daty)

'2022-04-16T43:52'

#### Ustawianie formatu

In [358]:
x = '''
%a - Locale’s abbreviated weekday name.
%A - Locale’s full weekday name.
%b - Locale’s abbreviated month name.
%B - Locale’s full month name.
%c - Locale’s appropriate date and time representation.
%d - Day of the month as a decimal number.
%H - Hour (24-hour clock) as a decimal number.
%I - Hour (12-hour clock) as a decimal number.
%j - Day of the year as a decimal number.
%m - Month as a decimal number.
%M - Minute as a decimal number.
%p - Locale’s equivalent of either AM or PM.
%S - Second as a decimal number.
%U - Week number of the year (Sunday as the first day of the week) as a decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. (3)
%w - Weekday as a decimal number
%W - Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.
%x - Locale’s appropriate date representation.
%X - Locale’s appropriate time representation.
%y - Year without century as a decimal number.
%Y - Year with century as a decimal number.
%Z - Time zone name (no characters if no time zone exists). Deprecated.
%% - A literal '%' character


'''
print(x)

%a - Locale’s abbreviated weekday name.
%A - Locale’s full weekday name.
%b - Locale’s abbreviated month name.
%B - Locale’s full month name.
%c - Locale’s appropriate date and time representation.
%d - Day of the month as a decimal number.
%H - Hour (24-hour clock) as a decimal number.
%I - Hour (12-hour clock) as a decimal number.
%j - Day of the year as a decimal number.
%m - Month as a decimal number.
%M - Minute as a decimal number.
%p - Locale’s equivalent of either AM or PM.
%S - Second as a decimal number.
%U - Week number of the year (Sunday as the first day of the week) as a decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. (3)
%w - Weekday as a decimal number
%W - Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.
%x - Locale’s appropriate date representation.
%X - Locale’s appropriate time representation.
%y - Year without century as a decimal number.
%Y - Year with century as a decimal number.
%Z - Time zone name (no characters if no time zone exists). Deprecated.
%% - A literal '%' character

In [223]:
popularne_formaty = [
    
    # Najczęstsze formaty:
    '%Y-%m-%d', # +%Z
    '%Y-%m-%dT%M:%S', # +%Z
    
    # Jeżeli nie chcesz tego rzokminiać, wybierz ten:
    # ...
    
    # ...
    '%m/%d/%Y',
    '%Y/%m/%d',
    '%d/%m/%Y',
    
    # Ciekawe formaty:
    "%m-%d-%Y %H:%M:%S", # +%Z
    '%Y-%m-%d %H:%M:%S',
    '%Y-%m-%d::%H-%M',
    '%Y-%m-%dT%H:%M:%SZ',
    '%Y-%m-%d %H:%M:%S',
    "%A, %B %d, %Y at %H:%M %p %Z",
    "%b %d %Y %H:%M:%S",
    
]

data_obiekt=datetime.today()
timespec='auto'
sep='T'

print('Data: {}\n'.format(data_obiekt))
for format_daty in popularne_formaty:
    print('format daty: {:30}'.format(format_daty), data_obiekt.strftime(format_daty))
    print()

Data: 2022-04-16 01:10:55.533716

format daty: %Y-%m-%d                       2022-04-16

format daty: %Y-%m-%dT%M:%S                 2022-04-16T10:55

format daty: %m/%d/%Y                       04/16/2022

format daty: %Y/%m/%d                       2022/04/16

format daty: %d/%m/%Y                       16/04/2022

format daty: %m-%d-%Y %H:%M:%S              04-16-2022 01:10:55

format daty: %Y-%m-%d %H:%M:%S              2022-04-16 01:10:55

format daty: %Y-%m-%d::%H-%M                2022-04-16::01-10

format daty: %Y-%m-%dT%H:%M:%SZ             2022-04-16T01:10:55Z

format daty: %Y-%m-%d %H:%M:%S              2022-04-16 01:10:55

format daty: %A, %B %d, %Y at %H:%M %p %Z   Saturday, April 16, 2022 at 01:10 AM

format daty: %b %d %Y %H:%M:%S              Apr 16 2022 01:10:55

#### Daty: najważniejsze problemy i rozwiązania

dla uproszczenia do pracy z datą użyjemy 2 obiektów `timedelta` który zajmuje się różnicami czasu i `datetime` który zawiera pełną informację o czasie i składają się na niego 3 elementy którymi zajmują się 3 obiekty:
1. kalendarzowe - dzień, miesiąc, rok a którymi szczególnie zajmuje się obiekt `datetime.date`, 
2. jaki informacje o godzinie, minucie, sekundzie - bliskie obiektowi `datetime.time`,
3. oraz o strefie czasowej - omawiane przy okazji obiektu `datetime.timezone`.

### 3. Sprawdź czy obiekt `datetime`

#### A. element daty

#### B. strefa

#### C. format

#### Lub co tylko zechcesz sprawdzić

### 4. Sprawdź czas dokładnie  - np. `time.time()` - cyfrowa reprezentacja czasu

Czas jako liczba sekund - `time.time() ` lub nanosekund - `time.time_ns() `

In [65]:
import time 

time.time() # czas teraz w sekundach

1650122678.3516312

In [66]:
time.time_ns() # czas teraz, nanosekundy

1650122678510059866

#### Uchwyć cyfrową reprezentację czasu w obiekt `datetime`

In [63]:
liczbowa_reprezentacja_czasu = 13342444434
datetime.fromtimestamp(liczbowa_reprezentacja_czasu, tz=tz)

datetime.datetime(2392, 10, 21, 12, 33, 54)

In [64]:
liczbowa_reprezentacja_czasu = 13342444434
datetime.utcfromtimestamp(liczbowa_reprezentacja_czasu)

datetime.datetime(2392, 10, 21, 10, 33, 54)

#### 5. Zamień obiekt czasu w stringa z datą sformatowaną tak jak chcesz.


Biblioteki time i datetime używają klas obiektów odpowiedzialnych za pracę na czasie. Warto je rozróżniać z 2 powodów, po pierwsze to przydatne i ułatwia posługiwanie się danymi czasowymi a po drugie dwa z obiektów czasu używanych przez te biblioteki mają tę samą nazwę - time -  i łatwo się pomylić gdy używa się obu rodzajów obiektów na raz. Gdy nie jesteś pewien - a tak jest zwykle na początku - wybierz 1 rozwiązanie i trzymaj się go a drugiego używaj wtedy gdy to będzie potrzebne w niekolidujący sposób. 


Poznaj 6 głównych obiektów związanych z czasem:
1. import time - time.struct_time - w przeciwieństwie do poniżej przybliżonych dotyczy biblioteki **time**. 


2. from datetime import time - time() - dotyczy godzin, minut
3. from datetime import date - date() - dotyczy roku, miesiąca, dni
4. from datetime import datetime - **datetime()** - dotyczy pełnej daty
5. from datetime import timedelta - **timedelta()** - dotyczy różnicy między czasem A a czasem B
6. from datetime import timezone - timezone.utc(timedelta(hour=2))